body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CF662B;
}

header {
    background-color: #5271FF;
    color: white;
    padding: 10px;
    width: 100%;
    height: 156px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size:x-large;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.logo {
    flex: 1;
}

.nav-list {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

/* Estilos para as seções */
section {
    padding: 40px 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.container p {
    line-height: 1.6;
}

/* Seção de Contato */
#contato {
    background-color: #F0F0F0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 40px 0;
}

#contato div {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
}

/* Botão Doar */
.blue-button {
    width: 210px; 
    height: 80px;
    top: 3797px;
    left: 383px;
    border-radius: 10px;
    background-color: #5271FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Layout da Seção de Doações */
.donate-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-container {
    text-align: left;
    font-style: italic;
    font-weight: 200;
}

h4{
    text-align: left;
}

.cat-image {
    height: auto;
    width: 20px;
    flex: 1;
}

/* Estilo para o formulário */
form {
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#quem-somos{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

#img{
    border-radius: 500px;
}

#dawgs{
    background-color: #5271FF;
    width: 1280px;
    height: 150px;
}

#contato{
    margin-bottom: -20px ;
}

#description{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: center;
}