<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet-Shop</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <center>
        <div id="register">
            <img id="image" src="../assets/barber-logo.jpg" alt="">
            <p class="title">Nome</p>
            <input class="input" type="text" id="name_user">
            <p class="title">E-mail</p>
            <input class="input" type="email" id="e-mail">
            <p class="title">Senha</p>
            <input class="input" type="password" id="password">
            <br>
            <a href="">Você é Barbeiro ?</a>
            <input type="checkbox" name="" id="">
            <button>Cadastrar</button>
        </div>

        
    </center>
</body>

</html>