<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetAmigo</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>PetAmigo</h1>
            </div>
            <ul class="nav-list">
                <li><a href="#quem-somos">Quem somos?</a></li>
                <li><a href="#como-adotar">Adote</a></li>
                <li><a href="#como-doar">Doações</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <section id="quem-somos">
            <h2>Quem Somos?</h2>
            <img src="../assets/barber-logo.jpg" id="img" alt="" srcset="">
            <p>PetAmigo, nosso compromisso é com os membros mais vulneráveis e sem voz da nossa comunidade: os animais.
                Somos um projeto não-governamental, sem fins lucrativos, fundada em novembro de 2023 por alunos da
                faculdade faculdade Uninassau em Caruaru-PE, dedicada ao bem-estar, proteção e defesa dos nossos amigos
                peludos, emplumados e escamosos. Acreditamos que todo ser vivo merece amor, cuidado e respeito, e
                estamos empenhados em fazer a diferença nas vidas dos animais necessitados.</p>
        </section>

       <center> <div id="dawgs"> <img src="../assets/dawgs.jpeg" alt="" srcset=""></div> </center>

       <p id="description">Nossa missão é clara: dar o melhor suporte para ONGs,para que com isso, conseguirmos resgatar, proteger e proporcionar qualidade de vida a animais em situações de abandono, negligência ou maus-tratos. Trabalhamos incansavelmente para encontrar lares amorosos e permanentes, promovendo a conscientização sobre a importância da adoção responsável e da esterilização.</p>

        <section id="como-adotar">
            <h2>Como Adotar</h2>
            <p>Informações sobre o processo de adoção de animais na nossa instituição.</p>
        </section>

        <section id="como-doar">
            <h2>Como Doar</h2>
            <h4>Preencha o formulário</h4>
            <div class="donate-section">
                <div class="form-container">
                    <form action="#">
                        <label for="fullname">Nome Completo:</label>
                        <input type="text" id="fullname" name="fullname"><br><br>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email"><br><br>

                        <label for="whatsapp">WhatsApp:</label>
                        <input type="tel" id="whatsapp" name="whatsapp"><br><br>

                        <input type="submit" value="Enviar">
                    </form>
                </div>
                <div class="cat-image">

                </div>
                <div class="donate-button">
                    <button class="blue-button">Doar</button>
                </div>
            </div>
        </section>

        <section id="contato" class="full-width">
            <h2>Contato</h2>
            <p>Devs: Fulano, ciclano, beltrano.</p>
            <p>Para mais informações, entre em contato conosco:</p>
            <p>Email: contato@petamigo.org</p>
            <p>Telefone: (XX) XXXX-XXXX</p>
        </section>
    </div>

</body>

</html>